/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#learn-more-button, #view-portfolio-button, #view-skills-button {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}

/* line 8, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#learn-more-button-container {
  width: 100%;
  position: absolute;
  bottom: 7%;
  text-align: center;
  margin: 0 auto;
}

/* line 16, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#view-portfolio-button-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 2%;
  text-decoration: none;
}

/* line 24, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#view-portfolio-button:hover {
  font-size: 1.3em;
  text-decoration: none;
}

/* line 29, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#view-skills-button-container {
  width: 100%;
  position: absolute;
  bottom: 6%;
  text-align: center;
  margin: 0 auto;
}

/* line 37, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#view-skills-button:hover {
  font-size: 1.3em;
}

/* line 42, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#body-container {
  height: 5250px;
}

/* line 46, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 110vh;
  min-width: 40%;
}

/* line 56, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#pic-about-container {
  position: absolute;
  height: 100%;
}

/* line 61, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#pic-about {
  position: relative;
  margin-top: 6%;
}

/* line 66, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#social-media {
  text-align: center;
}

/* line 70, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.social-media-link {
  text-decoration: none;
  margin: 5%;
}

/* line 75, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.social-media-pic {
  height: 5%;
  width: 5%;
}

/* line 81, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.body-section {
  background-color: #8EBFDF;
  width: 100%;
}

/* line 86, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.section-title hr {
  width: 350px;
  height: 4px;
  color: #FFF;
  background-color: #FFF;
}

/* line 94, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.section-title {
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 3.7em;
  text-shadow: 1px 1px 1px black;
  width: 50%;
  margin: 0 auto;
}

/* line 103, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#profile-pic-container {
  display: inline-block;
  width: 20%;
  margin-right: 50px;
  margin-top: 1%;
}

/* line 110, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#profile-pic-container img {
  width: 100%;
  border-radius: 150px;
}

/* line 115, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about {
  text-align: justify;
  font-family: 'Muli', sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  min-width: 500px;
  font-size: 1.2em;
  color: white;
  padding: 20px;
  float: right;
  margin-top: 1%;
}

/* line 130, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.fadeIn-appear {
  opacity: 0.01;
}

/* line 134, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 1.0s ease-in;
}

/* line 144, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#skills-container {
  font-family: 'Muli', sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  min-width: 40%;
  height: 1800px;
}

/* line 155, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#skills-container a {
  color: white;
  text-decoration: none;
}

/* line 160, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skills-descriptions {
  text-align: center;
  padding: 3%;
}

/* line 165, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skill-description {
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 3%;
  color: white;
  padding: 20px;
  width: 75%;
  box-shadow: 7px 10px 3px #414141;
}

/* line 176, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skill-bold {
  font-size: 1.1em;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}

/* line 183, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skill-icon-pic-container {
  display: inline-block;
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* line 190, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skill-icon-pic-container img {
  height: 100px;
}

/* line 194, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skillset {
  font-family: 'Bangers', cursive;
  font-size: 3.7em;
  text-shadow: 1px 1px 1px black;
  width: 50%;
  margin: 0 auto;
  color: white;
}

/* line 205, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.skillset hr {
  color: white;
  background-color: white;
  height: 4px;
  width: 60%;
}

/* line 212, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.languages {
  font-size: 40px;
  color: white;
  font-family: 'Bangers', cursive;
}

/* line 218, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.other-skills, .currently-learning {
  display: inline-block;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  vertical-align: top;
  color: white;
}

/* line 227, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#skills-container ul {
  list-style-type: none;
}

/* line 234, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#portfolio-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  min-width: 40%;
  height: 1500px;
  background-color: #8EBFDF;
}

/* line 245, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-picture {
  width: 85%;
  height: 340px;
  overflow-y: hidden;
  margin: 0 auto;
}

/* line 252, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-picture:hover {
  height: 400px;
  width: 90%;
}

/* line 257, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-picture img {
  width: 100%;
}

/* line 261, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-title {
  font-size: 1.2em;
}

/* line 265, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-description {
  width: 90%;
  padding-left: 10%;
  text-align: justify;
  color: black;
  font-size: 1.2em;
}

/* line 274, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-container {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #8EBFDF;
}

/* line 280, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.project-techs {
  color: #FFFFFF;
}

/* line 289, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#interested-container {
  margin-top: 500px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* line 297, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#interested {
  position: relative;
  padding: 2%;
  margin: 0 auto;
  width: 90%;
  background-color: #8EBFDF;
  border: 2px solid black;
  box-shadow: 7px 10px 3px #414141;
}

/* line 307, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#interested p:first-child {
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
}

/* line 314, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#interested p:nth-child(2) {
  color: white;
  font-size: 1.2em;
}

/* line 319, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#email {
  color: white;
}

/* line 323, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#email:hover {
  color: blue;
  text-decoration: none;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container {
  background-color: rgba(117, 117, 117, 0.9);
  position: relative;
  height: 300px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 10, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container div {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #8EBFDF;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  line-height: 150px;
  color: white;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 6, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-container {
  position: relative;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.9);
  border: 1px solid #757575;
  text-align: center;
}

/* line 19, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-content {
  position: relative;
  top: 15%;
  text-align: center;
}

/* line 25, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-name {
  font-family: 'Bangers', cursive;
  margin: 0 auto;
  font-size: 4em;
  text-align: center;
  width: 50%;
  min-width: 800px;
  text-shadow: 2px 2px 2px black;
  color: #FFFFFF;
}

/* line 36, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-name hr {
  border: none;
  height: 5px;
  width: 60%;
  color: #5C5C5C;
  background-color: #5C5C5C;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  animation-duration: 6s;
}

/* line 56, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-name {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 71, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-description {
  margin: 0 auto;
  margin-top: 4%;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px black;
  color: #FFF;
}

/* line 80, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-description {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
}

/* line 97, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#learn-more-button:hover {
  font-size: 1.3em;
}

/* line 102, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#learn-more-button-container {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
}
/* line 5, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 15, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
body {
  font-family: 'Muli', sans-serif;
  background-color: #959595;
}

/* line 20, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
html, body {
  margin: 0;
  padding: 0;
}

/*.debugger {
   border: 1px solid red;
}*/
/* line 31, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
#page-container {
  font-family: 'Muli', sans-serif;
  width: 100%;
  min-width: 950px;
  background-color: #959595;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}

hr {
   color:#7C8781;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #4F79FF;	
   background-color: #EDEDED;
}
/*.debugger {
   border: 1px solid red;
}*/
