/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#body-container {
  margin-top: 25%;
  position: relative;
}

/* line 6, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#body-buttons-container {
  background-color: #BDFAFF;
}

/* line 9, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#body-buttons-container a:link, #body-buttons-container a:visited {
  text-decoration: none;
  color: #4F79FF;
}

/* line 14, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#body-buttons-container a:hover {
  background-color: #8EEDE6;
}

/* line 17, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#contact-images-container img {
  height: 15px;
  width: 15px;
}

/* line 23, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-button, #projects-button, #blog-button {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  width: 33.33%;
  border: 2px solid #4F79FF;
}

/* line 32, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  color: #000000;
}

/* line 39, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container div {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

/* line 46, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#contact-images-container {
  text-align: center;
}

/* line 50, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#contact-images-container img {
  margin: 30px;
}

/* line 54, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#bio, #about-me-pic-container {
  text-align: center;
  display: inline-block;
}

/* line 61, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-pic {
  border-radius: 100px;
  width: 25%;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container {
  background-color: #BDFAFF;
  position: relative;
  margin-top: 100px;
  height: 100px;
  text-align: center;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#header-container {
  background-color: #BDFAFF;
  border: 3px solid #BDFAFF;
}

/* line 6, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#page-title {
  text-align: center;
}

/* line 10, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#header-pic-container {
  display: table-cell;
  width: 25%;
  text-align: center;
  vertical-align: middle;
}

/* line 17, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#header-pic {
  border-radius: 100px;
  width: 70%;
}

/* line 22, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#header-info {
  display: table-cell;
  width: 75%;
  text-align: center;
  vertical-align: middle;
}

/* line 28, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/head.scss */
#header-info p {
  display: inline-block;
  margin: 5% 15% 5% 15%;
  font-size: 1em;
  color: #4F79FF;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #4F79FF;	
   background-color: #EDEDED;
}
.debugger {
   border: 1px solid red;
}
