/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#content-container {
  display: inline-block;
  height: 1000px;
  width: 75%;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 5%;
  font-family: 'Ubuntu', sans-serif;
}

/* line 11, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container, #projects-container, #blogs-container {
  width: 95%;
  border: 3px double black;
  background-color: white;
  padding: 2.5%;
  box-shadow: 7px 7px 7px #727272;
}

/* line 19, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container #about {
  color: black;
}

/* line 23, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-me-container h1, #blogs-container h1, #projects-container h1 {
  font-size: 45px;
  font-family: 'BANGERS', cursive;
  color: #8EBFDF;
  -webkit-text-stroke: 0.5px black;
}

/* line 30, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-table {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  margin-top: 5%;
}

/* line 37, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-table div {
  font-size: 13px;
  color: black;
  display: inline-block;
  width: 50%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  vertical-align: top;
}

/* line 49, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
#about-table h3 {
  color: #4F79FF;
}

/* line 53, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/body.scss */
.list-style-none {
  list-style: none;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container {
  position: relative;
  margin-top: 150px;
  background-color: #767676;
  height: 200px;
  width: 100%;
}

/* line 9, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container div {
  font-size: .75em;
  position: absolute;
  background-color: #8EBFDF;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  border-top: 2px solid black;
}

/* line 21, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container span:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* line 27, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/footer.scss */
#footer-container span:nth-child(2) {
  font-weight: bolder;
  color: white;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header {
  background-color: #8EBFDF;
  width: 100%;
  height: 100px;
  color: white;
  display: table;
}

/* line 9, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-title, #header-subtitle {
  display: table-cell;
}

/* line 13, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-title {
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  font-family: 'BANGERS', cursive;
  width: 55%;
  -webkit-text-stroke: 2px #4F79FF;
}

/* line 22, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#header-subtitle {
  vertical-align: middle;
  font-size: 25px;
  margin-left: 5%;
  font-family: 'BANGERS';
}

/* line 28, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/header.scss */
#status {
  color: #F95E50;
}
/* line 5, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/page.scss */
#page-container {
  width: 100%;
  min-width: 860px;
}
/* line 1, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
#sidebar-container {
  display: inline-block;
  width: 20%;
  margin-top: 100px;
  height: 400px;
}

/* line 8, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
#sidebar-pic-container {
  text-align: center;
}

/* line 12, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
#sidebar-pic-container img {
  border-radius: 200px;
  width: 75%;
}

/* line 17, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
.sidebar-button img {
  width: 10%;
  margin-left: 5%;
}

/* line 22, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
.sidebar-button {
  height: 7%;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

/* line 29, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
.button-link {
  display: inline-block;
  text-decoration: none;
  background-color: #8EBFDF;
  width: 60%;
  color: #FFFFFF;
  border-radius: 100px;
  margin: 0 auto;
}

/* line 39, /Users/emiliocorpus/Desktop/my-website/app/assets/stylesheets/sidebar.scss */
.button-link:hover {
  background-color: #59788E;
  font-weight: bolder;
  box-shadow: 2px 2px 2px #C3C9F3;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}

hr {
   color:#7C8781;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #4F79FF;	
   background-color: #EDEDED;
}
/*.debugger {
   border: 1px solid red;
}*/
