<div class="footer">
	<div class="footer-content">
		&copy; All rights reserved <br/>
		Want to work with me? <br/>
		Contact<br/>
		<a href="mailto:emiliocorpus@gmail.com">emiliocorpus@gmail.com</a> | <a href='https://www.github.com'>github</a> | <a href="https://www.linkedin.com">linkedin</a>
	</div>
</div>