<%= render 'partials/navbar_about' %>
<div class="body-container">
	<div class="about-container"
		<h1></h1>
			<p>Hey, I am Emilio! I am a web developer who is looking for opportunies to sharpen my craft. If you would like to work with me please shoot me an email at abc@abc.com !
			</p>

			My expertise include:
			
	

	</div>
</div>