#body-container {
   height: 2000px;
}

#about-me-container{
   margin:0 auto;
   text-align:center;
   padding-top:5%;
   padding-bottom:10%;
   height: 550px;
}

.body-section {
   background-color: #8EBFDF;
   width:100%;
   border:1px solid white;
}

.body-section hr{
   width:350px;
   height:4px;
   color: #FFF;
   background-color: #FFF;
}

.section-title {
   color: white;
   font-size: 3.7em;
   text-shadow: 1px 1px 1px black;
   width: 50%;
   margin: 0 auto;
}

#profile-pic-container{
   display:inline-block;
   width:10%;
   margin-right:50px;
}

#profile-pic-container img{
   width:100%;
   border-radius:100px;
}

#about {
   display:inline-block;
   vertical-align: top;
   width:70%;
   font-size: 1.5em;
   color: white;
   padding:20px;
}
