#body-container {
	margin-top: 25%;
	height: 700px;
}

#body-buttons-container{
	background-color: #BDFAFF;
}

#about-button, #projects-button, #blog-button{
	display: inline-block;
	text-align:center;
	font-size: 2em;
	width:33.33%;
}

#about-me-container {
	height: 650px;
	width:90%;
	margin: 0 auto;
	margin-top: 8px;
	overflow-y: scroll;
}

#about-me-container div{
	width:50%;
	display:inline-block;
}
