#header-container{
	background-color: #BDFAFF;
	border: 3px solid #BDFAFF;	
	height:600px;
}

#page-title{
	text-align:center;
	font-size: 1.95em;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
}

#page-title h3 {
	font-size:0.50em;
	
	-webkit-text-fill-color: black; 
	-webkit-text-stroke-width: 0.5px;
  	-webkit-text-stroke-color: white;
}

#header-pic-container{
	display:table-cell;
	width: 25%;
	text-align:center;
	vertical-align: middle;
}

#header-pic{
	border-radius: 100px;
	width:70%;
	margin-top: 25%;
}

#header-info{
	display: table-cell;
	width:75%;
	text-align:center;
	vertical-align: middle;
}
#header-info p{
	display: inline-block;
	margin: 5% 15% 5% 15%;
	font-size: 1em;
	color: #4F79FF;
}
