@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


#header-container {

   position:relative;
   vertical-align: top;
   margin:0;
   padding: 0;
   height:100vh;
   width:100%;
   background-color: rgba(117, 117, 117, 0.90);
   border:1px solid #757575;
   text-align:center;
}

#header-content {
   position: relative;
   top: 15%;
   text-align:center;
}

#header-name {
   font-family: 'Bangers', cursive;
   margin:0 auto;
   font-size: 4em;
   text-align:center;
   width:50%;
   min-width:800px;
   text-shadow: 2px 2px 2px black;
   color:#FFFFFF;
}

#header-name hr{
   border: none;
   height:5px;
   width:60%;
   color:#5C5C5C;
   background-color: #5C5C5C;
   opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   
   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   
   -webkit-animation-duration:6s;
   -moz-animation-duration:6s;
   animation-duration:6s;
}

#header-name {
   opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   
   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   
   -webkit-animation-duration:2s;
   -moz-animation-duration:2s;
   animation-duration:2s;
}

#header-description{
   margin:0 auto;
   margin-top:4%;
   text-align:center;
   font-size:1.3em;
   text-shadow: 1px 1px 1px black;
   color:#FFF;
}

#header-description {
   opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   
   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   
   -webkit-animation-duration:4s;
   -moz-animation-duration:4s;
   animation-duration:4s;
}



#learn-more-button:hover {
   font-size:1.3em;
}


#learn-more-button-container{

   opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   
   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   
   -webkit-animation-duration:4s;
   -moz-animation-duration:4s;
   animation-duration:4s;
}