// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #B8B8B8;
}

html, body{
   margin: 0;
   padding: 0;
}

/*.debugger {
   border: 1px solid red;
}*/



#page-container{
	width:100%;
	min-width:860px;
}
