#sidebar-container {
	display:inline-block;
	width: 20%;
	margin-top:100px;
	height:400px;
}

#sidebar-pic-container {
	text-align:center;
}

#sidebar-pic-container img {
	border-radius:200px;
	width:75%;
}

.sidebar-button {
	height: 7%;
	width: 100%;
	margin-top:5%;
	text-align:center;
}

.sidebar-button a {
	display:inline-block;
	text-decoration: none;
	background-color: #8EBFDF;
	width: 60%;
	color:#FFFFFF;
	border-radius: 100px;
	margin: 0 auto;
}

.sidebar-button a:hover {
	background-color: #59788E;
	font-weight:bolder;
	box-shadow: 2px 2px 2px #C3C9F3;
}

