<!DOCTYPE html>
<html>
<head>
  <title>Emilio Corpus | Full-Stack Web Dev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Anton|Philosopher|Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
